.container {
  max-width: 1062px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

nav {
  padding: 37px 0;
  background-color: black;
}

nav .flex-parent {
  display: flex;
  justify-content: space-evenly;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-basis: 55%;
}

nav li a {
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}

.menu {
  display: none;
}

.header-section {
  padding: 135px 0 90px 0;
  background-image: url(../images/bg-image-wrapper.png);
  background-position: 60%;
  text-align: center;
}

.header-section h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #ffffff;
}

.header-section p {
  padding: 20px 0;
  width: 48%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
}

.button {
  display: inline-block;
  margin-top: 30px;
  cursor: pointer;
  border: none;
  padding: 15px 47px;
  background-color: #00afdb;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button:hover {
  background-color: #009cc2;
}

.icons {
  margin-top: 183px;
  display: flex;
  width: 170px;
  justify-content: space-between;
  text-align: center;
}

.wrapper-icons {
  display: flex;
  justify-content: center;
}

main .flex-parent {
  display: flex;
  justify-content: space-between;
}

main h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

main p {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
}

.first-section {
  padding: 117px 0;
}

.first-section .content1,
.third-section .content2 {
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bold {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
}

.content1 h2 {
  width: 95%;
}

.second-section,
.fifth-section {
  background-color: #f5f6f7;
}

.second-section {
  padding-top: 82px;
  padding-bottom: 130px;
}

.second-section .content1 {
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second-section .content1 p {
  width: 73%;
  margin-top: 0;
  text-align: center;
}

.second-section .content2 {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.clicks {
  display: flex;
  justify-content: flex-end;
}

.second-section .content2 a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #373737;
}

.left-arrow:hover,
.right-arrow:hover {
  opacity: 0.5;
}

.slides {
  display: flex;
}

.slides img {
  margin-right: 30px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}

.third-section {
  padding: 142px 0;
}

.center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourth-section {
  padding-top: 200px;
  padding-bottom: 220px;
  background-image: url(../images/frame.png);
  background-size: cover;
}

.fourth-section h2 {
  color: white;
  margin-bottom: 30px;
}

.check {
  display: inline-block;
  width: 66px;
  height: 46px;
  background: url(../images/check-icon.png) no-repeat center / 13px #00afdb;
  border: none;
  cursor: pointer;
  vertical-align: top;
}

.check:hover {
  background-color: #009cc2;
}

form {
  display: flex;
}

.search {
  display: inline-block;
  background-color: white;
  width: 340px;
  height: 46px;
}

input {
  width: 290px;
  padding: 13px 24px 13px;
  vertical-align: center;
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
  opacity: 0.5;
}

input:focus::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
}

.buttons {
  width: 402px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.apple-button,
.android-button {
  width: 186px;
  display: flex;
  align-items: flex-end;
}

.icon {
  display: block;
  margin-top: 30px;
  cursor: pointer;
  border: none;
  padding: 15px 18px;
  background-color: #00afdb;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.icon:hover {
  background-color: #009cc2;
}

.apple {
  width: 59px;
  height: 44px;
  background: url(../images/icon-apple.svg) no-repeat center / 18px #009cc2;
  border: none;
  cursor: pointer;
  vertical-align: bottom;
}

.android {
  width: 59px;
  height: 44px;
  background: url(../images/icon-android.svg) no-repeat center / 22px #009cc2;
  border: none;
  cursor: pointer;
  vertical-align: bottom;
}

.fifth-section {
  padding-top: 120px;
  padding-bottom: 180px;
}

.fifth-section p {
  width: 45%;
  text-align: center;
}

footer {
  background-color: black;
}

.footer-flex-parent {
  padding: 73px 0 92px 0;
  display: flex;
  justify-content: space-between;
}

footer ul {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
}

.footer-links a {
  display: inline-block;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #4e4e4e;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}

.footer-links .first-link {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #818181;
}

@media (max-width: 1062px) {
  .container {
    max-width: 95%;
  }
}

@media (max-width: 900px) {
  nav ul {
    width: 70%;
  }

  .first-section .content1,
  .third-section .content2 {
    width: 45%;
  }

  h1 {
    font-size: 60px;
  }

  .header-section p {
    width: 70%;
  }

  main h2 {
    font-size: 30px;
  }

  main p {
    font-size: 20px;
  }

  .footer-flex-parent {
    padding: 30px 0 30px 0;
}

}